<!-- Copyright (c) 2022 8th Wall, Inc. -->
<!-- head.html is optional; elements will be added to your html head before app.js is loaded. -->
<!-- Use "8thwall:" meta tags to hook into 8th Wall's build process and developer tools. -->
<meta name="8thwall:renderer" content="aframe:1.1.0">
<meta name="8thwall:package" content="@8thwall.xrextras">
<meta name="8thwall:package" content="@8thwall.landing-page">
<meta name="8thwall:package" content="@react.react">
<meta name="8thwall:package" content="@react.react-dom">
<meta name="8thwall:package" content="@react.react-router-dom">
<!-- Other external scripts and meta tags can also be added. -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito:300,400,500,700&amp;display=swap">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<script src="//unpkg.com/@material-ui/core@latest/umd/material-ui.production.min.js"></script>