<a-scene
  xrextras-gesture-detector
  landing-page="mediaSrc: https://media.giphy.com/media/UIQc7mECaH5nw0Y03Y/giphy.mp4"
  xrextras-loading
  xrextras-runtime-error
  xrweb="disableWorldTracking: true">
  <a-assets>
    <!-- Credit to Poly by Google for the model: https://poly.google.com/view/dA5osnS0Rzj -->
    <a-asset-item id="jelly-glb" src="../../../assets/jellyfish-model.glb"></a-asset-item>
    <img id="jelly-thumb" crossorigin="anonymous" src="../../../assets/video-target.jpg">
    <video
      id="jelly-video"
      autoplay
      muted
      crossorigin="anonymous"
      loop="true"
      src="../../../assets/jellyfish-video.mp4">
    </video>
  </a-assets>
  <a-camera
    position="0 4 10"
    raycaster="objects: .cantap"
    cursor="fuse: false; rayOrigin: mouse;">
  </a-camera>
  <a-light type="directional" intensity="0.5" position="1 1 1"></a-light>
  <a-light type="ambient" intensity="1"></a-light>
  <!-- Note: "name:" must be set to the name of the image target uploaded to the 8th Wall Console -->
  <a-entity
    xrextras-named-image-target="name: flyer-video"
    xrextras-play-video="video: #jelly-video; thumb: #jelly-thumb; canstop: true"
    geometry="primitive: plane; height: 1; width: 0.79;">
  </a-entity>
  <!-- Note: "name:" must be set to the name of the image target uploaded to the 8th Wall Console -->
  <a-entity xrextras-named-image-target="name: flyer-model">
    <!-- Add a child entity that can be rotated independently of the image target. -->
    <a-entity xrextras-one-finger-rotate gltf-model="#jelly-glb"></a-entity>
  </a-entity>
</a-scene>
