<a-scene
  antialias="true"
  xrextras-generate-image-targets="primitive: artgallery-frame"
  landing-page="mediaSrc: https://media.giphy.com/media/UIQc7mECaH5nw0Y03Y/giphy.mp4"
  xrextras-loading
  xrextras-runtime-error
  xrweb="disableWorldTracking: true">
  <a-assets>
    <a-asset-item id="frame-model" src="../../../assets/frame.glb"></a-asset-item>
  </a-assets>
  <a-camera id="camera" position="0 4 10"
    raycaster="objects: .cantap"
    cursor="fuse:false; rayOrigin:mouse;">
  </a-camera>
  <a-light type="ambient" intensity="1.3"></a-light>
  <a-light type="directional" intensity="3" position="1.5 2.5 0.6"></a-light>
</a-scene>